// Mixins
// Background Cover Mixin
background-cover()
    -webkit-background-size cover
    -moz-background-size cover
    -o-background-size cover
    background-size cover
// Font Mixins
body-font()
    font-family 'Source Sans Pro'
    font-weight 300
heading-font()
    font-family 'Merriweather'
    font-weight 700