
<?php

use Illuminate\Support\Facades\Schema;
use Illuminate\Database\Schema\Blueprint;
use Illuminate\Database\Migrations\Migration;

class CreateStarterHistoriesTable extends Migration
{
    public function up()
    {
        Schema::create(config('starter.database.tables.starter_histories'), function (Blueprint $table) {
            $table->id();
            $table->string('name');
            $table->timestamps();
        });

        Schema::table(config('starter.database.tables.starter_histories'), function (Blueprint $table) {
            $table->foreignId('user_id')
                ->nullable()
                ->constrained(config('starter.database.tables.users'))
                ->onDelete('cascade');
        });
    }

    public function down()
    {
        Schema::table(config('starter.database.tables.starter_histories'), function (Blueprint $table) {
            $table->dropForeign(['user_id']);
        });
        Schema::drop(config('starter.database.tables.starter_histories'));
    }
}
